/* HEADER */

.border-title {
    font-size: 20px;
    color: white;
}

.color-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    box-shadow: 0px 0px 5px black;
}

@media screen and (max-width: 700px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .profile-flex {
        flex-direction: column;
    }
    .border-title {
        display: none;
    }
    .header-wrapper {
        padding-bottom: 20%;
    }
    .wrapper-updates {
        padding-top: 5%;
    }
    .theme-colors {
        right: 30%;
        top: 12%;
    }
    .users-title {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper-profile {
        margin-top: 10%;
    }
    .users-wrapper {
        margin-top: 5%;
    }
    .global-block {
        margin: 10%;
    }
}

@media screen and (max-width: 390px) {
    .header-wrapper {
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 600px) {
    .header-wrapper {
        padding-bottom: 25%;
    }
    .theme-colors {
        right: 17%;
    }
}

.route {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

.route:hover {
    text-shadow: 0px 0px 2px;
}

.title {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.beta-title {
    font-size: 10px;
    padding-left: 5px;
    text-shadow: 0px 0px 2.5px white;
}

/* USERS */

.users-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.users-title {
    text-transform: uppercase;
    font-size: 120%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.user-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 20%;
    box-shadow: 3px 3px 8px black;
    transition: 0.5s;
}

.online-block, .offline-block {
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 15px;
    text-align: center;
    padding: 1%;
}

.online-block {
    color: greenyellow;
}

.offline-block {
    color: gray;
}

.user-block:hover {
    transition: 0.5s;
    box-shadow: 12px 12px 32px black;
}

.parrent-block {
    padding: 5%;
    min-width: 20%;
    max-width: 40%;
}

.users-loader {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    font-weight: bold;
}

.button {
    color: cornflowerblue;
    text-transform: uppercase;
    font-size: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.4s;
    text-decoration: none;
}

.button:hover {
    transition: 0.4s;
    opacity: 0.5;
    cursor: pointer;
}

/* PAGINATOR */

.paginator {
    font-size: 100%;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    transition: 0.3s;
    margin: 2px;
    display: inline;
}

.paginator:hover {
    background-color: #3959ab;
    color: white;
    transition: 0.3s;
    box-shadow: 1px 1px 2px black;
    border-radius: 0px;
    cursor: pointer;
}

.paginator-active {
    text-align: center;
    color: white;
    font-size: 100%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 1px 1px 2px black;
    padding: 5px;
    transition: 0.3s;
    margin: 2px;
    display: inline;
}

/* PROFILE */

.profile-page {
    color: white;
    box-shadow: 0px 0px 4px black;
    margin: 2%;
    padding: 2%;
    align-items: center;
    margin-top: 5%;
}

.profile-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}

.profile-img {
    box-shadow: 0px 0px 5px black;
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 100px;
    width: 100%;
}

.profile-info, .profile-techadmin-info, .profile-admin-info {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 1%;
}

.profile-techadmin-info, .profile-admin-info {
    color: orangered;
    text-shadow: 0px 0px 3px black;
}

.profile-admin-info {
    color: green;
}

.profile-status {
    font-size: 20px;
    margin-top: 2%;
}

.profile-twoblock {
    padding: 5%;
}

.edit-button {
    float: right;
}

.profile-networks {
    text-transform: uppercase;
}
.profile-field {
    text-align: right;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.followers-info {
    font-size: 10px;
    text-align: center;
}

.followers-wrapper {
    margin: 2%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followers-block {
    box-shadow: 3px 3px 12px black;
    padding: 2%;
    border-radius: 15px;
}

.follow-title {
    padding-bottom: 5%;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-user {
    width: 30%;
    min-width: 50px;
}

.follower-name {
    text-align: center;
    font-size: 10px;
}

/* AUTH */

.login-wrapper {
    padding-top: 5%;
}

.auth-user, .auth-login {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
}

.auth-login:hover, .auth-user:hover {
    color: cornflowerblue;
    transition: 0.2s;
}

.auth-login {
    color: white;
}

.auth-login-active {
    color: cornflowerblue;
}

.logout {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 2px;
    color: white;
    box-shadow: 2px 2px 4px black;
    transition: 0.2s;
    padding: 1%;
    margin-top: 1.8%;
    text-transform: uppercase;
}

.logout:hover {
    box-shadow: 6px 6px 16px black;
    cursor: pointer;
}

/* LOGIN */

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.auth-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    box-shadow: 1px 1px 5px black;
    padding: 1%;
    padding-right: 15%;
    padding-left: 15%;
}

.input {
    border: 0px solid black;
    padding: 1.5em;
    box-shadow: 2px 2px 4px black;
    transition: 0.4s;
    background-color: white;
    color: black;
    border-radius: 10px;
    outline: none;
}

.input:hover {
    background-color: #3959ab;
    transition: 0.4s;
    color: white;
    box-shadow: 4px 4px 16px black;
}

.input-block {
    padding: 20px;
}

.form-button {
    padding: 5px;
    text-transform: uppercase;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 12%;
    text-decoration: none;
}

.form-button:hover {
    color: #3959ab;
    transition: 0.4s;
    cursor: pointer;
}

.remember:hover {
    cursor: pointer;
}

.warning_field {
    margin-top: 20px;
    color: #922B12;
}

.error_message {
    color: #922B12;
}

.captcha-wrapper {
    margin: 5%;
}

.global-error {
    text-transform: uppercase;
    color: #922B12;
    border: 2px solid #922B12;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

.global-block {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.authorized-message {
    position: fixed;
    left: 3%;
    top: 90%;
    color: white;
    background-color: green;
    padding: 1%;
    box-shadow: 2px 2px 5px black;
    text-transform: uppercase;
}

/* UPDATES */

.updates-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.new-update {
    color: greenyellow;
    text-transform: uppercase;
    /*padding-left: 10px;*/
}

.updates-title {
    font-size: 25px;
    padding: 1%;
    text-transform: uppercase;
}

.updates-info {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5%;
}

.updates-end {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

/* THEME */

.theme-colors {
    text-transform: uppercase;
    position: absolute;
    margin-top: 1.2%;
    box-shadow: 2px 2px 3px black;
    color: white;
    /* padding: 1%; */
}

.theme-button:hover {
    background-color: white;
    color: black;
    width: 100%;
    cursor: pointer;
}